{% extends 'base.html' %}

{% block 'body' %}

    {% for slide in slides %}
        <div class="container slide mt-5" slide-index="{{ slide.index }}" slide-duration="{{ slide.duration }}">
            <div class="row">
                <div class="col">
                    <h1>{{ slide.title }}</h1>
                </div>
                <div class="col"></div>
                <div class="col" style="margin: auto; text-align: left;">
                    <h2>{{ slide.last_updated | safe }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="fs-4">שקף הבא בעוד: <span id="next-slide-cntr"></span> שניות</p>
                </div>
                <div class="col"></div>
                <div class="col"></div>

            </div>
            <div class="row">
                <div class="col fs-3">
                    {{ slide.content | safe }}
                </div>
            </div>
        </div>
    {% endfor %}

    

    <span style="position: fixed; bottom: 10px; left: 10px;">
        <a href="/admin" target="_blank">Admin</a>
        &nbsp;
        <a href="#" id="btn-next">Next</a>
        &nbsp;
        <a href="#" id="btn-prev">Prev</a>
    </span>

    <script src="/static/js/rotating_slides.js"></script>
{% endblock %}